apiVersion: v1
kind: ResourceQuota
metadata:
  name: healthcare-quotas
  namespace: healthcare-backend
spec:
  hard:
    requests.cpu: "6"
    requests.memory: 12Gi
    limits.cpu: "12"
    limits.memory: 24Gi
    pods: "200"

